@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<center>
    <form action="ShowData">
        <input type="submit" href="ShowData" value="ShowData" />
    </form>
    <form action="Properties">
        <input type="submit" href="Properties" value="ShowData" />
    </form>
</center>