@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">PhotosApp Web</h1>
</div>

<center>
    <form action="ShowData">
        <input type="submit" href="ShowData" value="ShowData" />
    </form>
    <br>
    <form action="Properties">
        <input type="submit" href="Properties" value="Properties" />
    </form>
</center>